spring:
  application:
    name : bulletinBoard
  datasource:
    url: jdbc:mysql://13.209.76.34:3306/test_db
    username: test_user
    password: 1234

  sql:
    init:
      mode: always

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true

    defer-datasource-initialization: true
